html, body {
    height: 100%;
    width: 100%;
  }

h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.main-container {
    width: 100%;
    overflow: hidden;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 0 0 0 0;
  }

.main_wrapper {
   display: flex;
   justify-content: space-around;
}

.split {
    flex-basis: 50%;
}

.menu {
  margin: auto;
  height: 700px;
  width: 33%;
  border: 1px solid black;
  padding: 10px;
}

.project_menu {
  align-content: normal;
}

.sub_menu {
  margin: auto;
  align-content: center;
  padding: 10px;
}

.menu_block {
  justify-content: left;
  display: flex;
  margin-bottom: 0.5rem;
}

.menu_item {
  margin-right: 0.5rem;
}

#select_menu_one {
  width: 150px;   
}

#select_menu_two {
  width: 150px;   
}

#version {
  width: 50px;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.card {
  --bs-card-spacer-y: 1.3125rem;
  --bs-card-spacer-x: 1.3125rem;
  --bs-card-title-spacer-y: 0.25rem;
  --bs-card-border-width: 0.0625rem;
  --bs-card-border-color: rgba(231, 234, 243, 0.7);
  --bs-card-border-radius: 0.75rem;
  --bs-card-box-shadow: 0rem 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
  --bs-card-inner-border-radius: 0.6875rem;
  --bs-card-cap-padding-y: 1.3125rem;
  --bs-card-cap-padding-x: 1.3125rem;
  --bs-card-cap-bg: transparent;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1.3125rem 1.3125rem;
  --bs-card-group-margin: 0.75rem;
  word-wrap: break-word;
}

td.column-clickable:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}